.Text-input {
    resize: none;
    width: 40vw;
    height: 300px;
    font-family: "SG-Regular";
    padding: 10px;
    border-radius: 10px;
    /* color: var(--adoblue); */
}

.Vertical-container {
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    padding: 20px;
}

.Main-container {
    display:flex;
    width: "100%";
}

.Save-button {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 15vw;
    margin-right: 15vw;
    margin-top: 20px;
    border-radius: 10px;
    width: 20vw;
    justify-content: center;
    font-family: "SG-Regular";
    background-color: var(--dark);
    color: white;
    font-size: 30px;
    border-width: 0;
}

.Save-button:hover {
    cursor: pointer;
}

p {
    font-family: "SG-Light";
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

/* .Trend-button {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 15vw;
    margin-right: 15vw;
    margin-top: 20px;
    border-radius: 10px;
    width: 20vw;
    justify-content: center;
    font-family: "SG-Regular";
    background-color: var(--dark);
    color: white;
    font-size: 30px;
    border-width: 0;
} */

.Trend-input {
    resize: none;
    width: 200px;
    height: 20px;
    font-family: "SG-Regular";
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    display: inline;
    margin-right: 5px;
}

.Trend-word-button {
    display: inline;
    width: 200px;
    height: 45px;
    padding: 10px;
    border-radius: 10px;
    font-family: "SG-Regular";
    background-color: var(--dark);
    color: white;
    font-size: 20px;
    border-width: 0;
    margin-right: 5px;
}

.Trend-container {
    display:block;
}