.Text-input {
    resize: none;
    width: 35vw;
    height: 20vw;
    font-family: "SG-Regular";
    padding: 10px;
    border-radius: 10px;
    /* color: var(--adoblue); */
}

.Vertical-container {
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    padding: 20px;
}

.Main-container {
    display:flex;
    width: 40vw;
}

/* .Save-button {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 20px;
    border-radius: 10px;
    width: 20vw;
    justify-content: center;
    font-family: "SG-Regular";
    background-color: var(--dark);
    color: white;
    font-size: 30px;
    border-width: 0;
}

.Save-button:hover {
    cursor: pointer;
} */

p {
    font-family: "SG-Light";
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

.Distance-button {
    background-color: white;
    font-family: "SG-Medium";
    margin-left: 30px;
    margin-right: 30px;
    font-size: 15px;
    border-radius: 5px;
    border-color: var(--medium);
}

.Distance-button:hover {
    cursor: pointer;
}

.Distance-container {

}

/* .Trend-button {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 15vw;
    margin-right: 15vw;
    margin-top: 20px;
    border-radius: 10px;
    width: 20vw;
    justify-content: center;
    font-family: "SG-Regular";
    background-color: var(--dark);
    color: white;
    font-size: 30px;
    border-width: 0;
} */

.Trend-input {
    resize: none;
    width: 200px;
    height: 20px;
    font-family: "SG-Regular";
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    display: inline;
    margin-right: 5px;
    margin-top: 0px;
}

.Trend-word-button {
    display: inline;
    position: relative;
    top: 2px;
    height: 45px;
    padding: 10px;
    border-radius: 10px;
    font-family: "SG-Regular";
    background-color: var(--dark);
    color: white;
    font-size: 20px;
    border-width: 0;
    margin-right: 5px;
    margin-bottom: 10px;
}

.Trend-word-button:hover {
    background-color: var(--medium);
    cursor: pointer;
}

.Cursor-button {
    width: 30px;
    height: 30px;
    /* margin: 20px; */
    position:relative;
    top: 8px;
    left: -5px;
}

.Cursor-button:hover {
    cursor: pointer;
}

.Trend-container {
    display:block;
    width: 50vw - 40px;
    text-align: left;
    padding: 20px;
    /* align-items:start;
    justify-content:start;
    align-content:start;
    justify-items:start; */
}

.Comparisons-container {
    /* background-color: lightgray; */
    padding: 5px;
    border-radius: 10px;
}