.App {
  text-align: center;
}

.Data-container {
  /* padding-top: 50px; */
  padding-left: 10vw;
  padding-right: 10vw;
}

.Visualize-button {
  position: fixed;
  right: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  /* margin-top: 50px; */
  bottom: 25px;
  border-radius: 10px;
  width: 200px;
  justify-content: center;
  font-family: "SG-Bold";
  background-color: white;
  color: var(--dark);
  font-size: 30px;
  margin-bottom: 30px;
  border-color: var(--dark);
  border-width: 2px;
  box-shadow:
    0 0 6px 3px #ffffff80,  /* inner white */
    0 0 10px 6px rgba(255, 0, 255, 0.447), /* middle magenta */
    0 0 14px 9px rgba(0, 255, 255, 0.499); /* outer cyan */
}

.Visualize-button:hover {
  cursor: pointer;
  background-color: #fff0fd;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--dark);
  min-height: 50px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: static;
  width: 100vw;
}

.Header-text {
  fill: white;
  font-family: "SG-Bold";
  display: inline-block;
  text-align: left;
  font-size: 40px;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.Subheader-text {
  display: inline-block;
  font-family: "SG-Light";
  text-align: left;
  font-size: 20px;
}

.Main-container {
  display: flex;
  flex-direction: row;
  /* padding-top: 30px; */
  
}

.Left-section {
  display: flex;
  /* background-color: #61dafb; */
  width: 40vw;
  flex: 1;
}

.Right-section {

  /* background-color: #61dafb; */
  width: 40vw;
  flex: 1;
  /* border: black; */
}

@font-face {
  font-family: "SG-Bold";
  src: local("SpaceGrotesk-Bold"),
    url("./fonts/SpaceGrotesk-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "SG-Light";
  src: local("SpaceGrotesk-Light"),
    url("./fonts/SpaceGrotesk-Light.ttf") format("truetype");
}

@font-face {
  font-family: "SG-Medium";
  src: local("SpaceGrotesk-Medium"),
    url("./fonts/SpaceGrotesk-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "SG-Regular";
  src: local("SpaceGrotesk-Regular"),
    url("./fonts/SpaceGrotesk-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "SG-SemiBold";
  src: local("SpaceGrotesk-SemiBold"),
    url("./fonts/SpaceGrotesk-SemiBold.ttf") format("truetype");
}

:root {
  --dark: #645CBB;
  --medium: #A084DC;
  --light: #ceb6fa;
  --verylight: #EBC7E6;
}
